
<h2>Activities</h2>
<div class="row">
  <div class="col-md-4">
    <div class="box">
      <h2>Search Activities</h2>
      Query: <input ng-model="query" type="text"/></br>
      Available Time: <input ng-model="time" type="text"/>
    </div>

  </div>
  <div class="col-md-4">
    <form name="form" class="box" ng-submit="form.$valid && create()">
      <h2>New Activity</h2>

      Activity Name:<input required="required" ng-minlength="2" name="name" type="text" ng-model="new.name"></br>

      <input type="radio" ng-model="new.home" value="home">Home</input>
      <input type="radio" ng-model="new.home" value="away">Away</br>

      <input type="radio" ng-model="new.movement" value="sedentary">Sedentary</input>
      <input type="radio" ng-model="new.movement" value="walking">Walking
      <input type="radio" ng-model="new.movement" value="vigorous">Vigorous</br>


      <input type="radio" ng-model="new.specific" value="specific">Specific</input>
      <input type="radio" ng-model="new.specific" value="general">General</br>

      Mental Attention:<input type="text" ng-model="new.mental_attention"></br>

      Minimum Time:<input type="text" ng-model="new.min_time"></br>
      Maximum Time:<input type="text" ng-model="new.max_time"></br>
      <input class="btn btn-primary" type="submit" value="add">

      <div ng-messages="form.name.$error" style="color:maroon" role="alert" ng-if="form.name.$touched">
        <div ng-message="required">You did not enter a name</div>
        <div ng-message="minlength">The name is too short</div>
      </div>
    </form>
  </div>

</div>

<table class="table">
    <thead>
      <th><a href="" ng-click="sortField = 'name'">Name</a></th>
      <th><a href="" ng-click="sortField = 'home'">Home</a></th>
      <th><a href="" ng-click="sortField = 'specific'">Specific</a></th>
      <th><a href="" ng-click="sortField = 'mental_attention'">Mental Attention</a></th>
      <th><a href="" ng-click="sortField = 'movement'">Movement</a></th>
      <th><a href="" ng-click="sortField = 'min_time'">Min Time</a></th>
      <th><a href="" ng-click="sortField = 'max_time'">Max Time</a></th>
      <th></th>
    <thead>

    <tbody>
    <tr ng-repeat="activity in data | filter:query | orderBy:sortField track by activity.id" ng-if="activity.min_time < (time || 10000)">
      <td>

        <div ng-hide="activity.editorEnabled">{{activity.name}}</div></br>
        <input ng-model="activity.name" ng-show="activity.editorEnabled">
      </td>
      <td>
        <div ng-hide="activity.editorEnabled">{{activity.home}}</div></br>
        <input ng-model="activity.home" ng-show="activity.editorEnabled">
      </td>
      <td>
        <div ng-hide="activity.editorEnabled">{{activity.specific}}</div></br>
        <input ng-model="activity.specific" ng-show="activity.editorEnabled">
      </td>
      <td>
        <div ng-hide="activity.editorEnabled">{{activity.mental_attention}}</div></br>
        <input ng-model="activity.mental_attention" ng-show="activity.editorEnabled">
      </td>
      <td>
        <div ng-hide="activity.editorEnabled">{{activity.movement}}</div></br>
        <input ng-model="activity.movement" ng-show="activity.editorEnabled">
      </td>
      <td>
        <div ng-hide="activity.editorEnabled">{{activity.min_time}}</div></br>
        <input ng-model="activity.min_time" ng-show="activity.editorEnabled" size="5">
      </td>
      <td>
        <div ng-hide="activity.editorEnabled">{{activity.max_time}}</div></br>
        <input ng-model="activity.max_time" ng-show="activity.editorEnabled" size="5">
      </td>
      <td><button type="button" class="btn btn-primary" ng-click="edit(activity)">Edit</button></td>
      <td><button type="button" class="btn btn-success" ng-show="activity.editorEnabled"  ng-click="update(activity)">Done</button></td>
      <td><button type="button" class="btn btn-danger" ng-click="delete(activity)">Delete</button></td>
      <td><a type="button" class="btn btn-success href="" ui-sref="home.activity({id: activity.id})">complete</a></td>

    </tr>
    </tbody>
  </table>

