
<div class="box">
  <h2>Search Table</h2>
  Query: <input ng-model="query" type="text"/></br>
  Available Time: <input ng-model="time" type="text"/>
</div>

<form name="form" class="box" ng-submit="form.$valid && addItem()">
  Activity Name:<input required="required" type="text" ng-model="name"></br>

  <input type="radio" ng-model="home" value="home">Home</input>
  <input type="radio" ng-model="home" value="away">Away</br>

  <input type="radio" ng-model="movement" value="sedentary">Sedentary</input>
  <input type="radio" ng-model="movement" value="walking">Walking
  <input type="radio" ng-model="movement" value="vigorous">Vigorous</br>


  <input type="radio" ng-model="specific" value="specific">Specific</input>
  <input type="radio" ng-model="specific" value="general">General</br>

  Mental Attention:<input type="text" ng-model="mental_attention"></br>

  Minimum Time:<input type="text" ng-model="min_time"></br>
  Maximum Time:<input type="text" ng-model="max_time"></br>
  <input type="submit" value="add">
</form>

  <table>
    <tr>
      <th><a href="" ng-click="sortField = 'name'">Name</a></th>
      <th><a href="" ng-click="sortField = 'home'">Home</a></th>
      <th><a href="" ng-click="sortField = 'specific'">Specific</a></th>
      <th><a href="" ng-click="sortField = 'mental_attention'">Mental Attention</a></th>
      <th><a href="" ng-click="sortField = 'movement'">Movement</a></th>
      <th><a href="" ng-click="sortField = 'min_time'">Min Time</a></th>
      <th><a href="" ng-click="sortField = 'max_time'">Max Time</a></th>
      <th></th>

    </tr>
    <tr ng-repeat="activity in data | filter:query | orderBy:sortField track by activity.id" ng-if="activity.min_time < (time || 1000)">
      <td>
        {{activity.name}}</br>
        <input ng-model="activity.name" ng-show="activity.editorEnabled">
      </td>
      <td>
        {{activity.home}}</br>
        <input ng-model="activity.home" ng-show="activity.editorEnabled">
      </td>
      <td>
        {{activity.specific}}</br>
        <input ng-model="activity.specific" ng-show="activity.editorEnabled">
      </td>
      <td>
        {{activity.mental_attention}}</br>
        <input ng-model="activity.mental_attention" ng-show="activity.editorEnabled">
      </td>
      <td>
        {{activity.movement}}</br>
        <input ng-model="activity.movement" ng-show="activity.editorEnabled">
      </td>
      <td>
        {{activity.min_time}}</br>
        <input ng-model="activity.min_time" ng-show="activity.editorEnabled">
      </td>
      <td>
        {{activity.max_time}}</br>
        <input ng-model="activity.max_time" ng-show="activity.editorEnabled">
      </td>
      <td><button ng-click="edit(activity)">Edit</button></td>
      <td><button ng-show="activity.editorEnabled"  ng-click="done(activity)">Done</button></td>
      <td><button ng-click="delete(activity)">Delete</button></td>
      <td><a href="" ui-sref="activity({id: activity.id})">complete</a></td>



      <!-- <td><input type="text" ng-model="activity.name" /></td> -->



    </tr>
  </table>