
<h2>Name: {{data.name}}</h2>
<form ng-submit="create()">
  Rating:
  <select ng-model="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  Notes: <input ng-model="note">
  <input class="btn btn-primary" type="Submit" value="submit">
</form>

<div class="box">

  <div ng-repeat="completes in data.completes">
    <strong> Notes:</strong>{{completes.note}}</br>
    <strong> Rating: </strong> <form ng-submit="update(completes)">
      <input type="text" value={{completes.rating}} ng-model="completes.rating">
      <input class="btn btn-primary" type="submit" value="Update">
    </form>
    <strong> Date:</strong> {{completes.created_at | date:'medium'}} |
    <button class="btn btn-danger" ng-click="destroy(completes)">Delete</button>

  </div>
</div>