
<h2>Activities</h2>
<div class="row">
  <div class="col-md-4">
    <div class="box">
      <h2>Search Activities</h2>
      Query: <input ng-model="query" type="text"/></br>
      Available Time: <input ng-model="time" type="text"/>
    </div>

  </div>
  <div class="col-md-4">
    <form name="form" class="box" ng-submit="form.$valid && create()">
      <h2>New Activity</h2>

      Activity Name:<input required="required" ng-minlength="2" name="name" type="text" ng-model="new.name"></br>

      <input type="radio" ng-model="new.home" value="home">Home</input>
      <input type="radio" ng-model="new.home" value="away">Away</br>

      <input type="radio" ng-model="new.movement" value="sedentary">Sedentary</input>
      <input type="radio" ng-model="new.movement" value="walking">Walking
      <input type="radio" ng-model="new.movement" value="vigorous">Vigorous</br>


      <input type="radio" ng-model="new.specific" value="specific">Specific</input>
      <input type="radio" ng-model="new.specific" value="general">General</br>

      Mental Attention:<input type="text" ng-model="new.mental_attention"></br>

      Minimum Time:<input type="text" ng-model="new.min_time"></br>
      Maximum Time:<input type="text" ng-model="new.max_time"></br>
      <input class="btn btn-primary" type="submit" value="add">

      <div ng-messages="form.name.$error" style="color:maroon" role="alert" ng-if="form.name.$touched">
        <div ng-message="required">You did not enter a name</div>
        <div ng-message="minlength">The name is too short</div>
      </div>
    </form>
  </div>

</div>
<div class="alert alert-success" ng-show="updated">
  Sucessfully updated activity {{ updatedName}} 
</div>
<div class="alert alert-success" ng-show="created">
  Sucessfully created activity {{ createName}} 
</div>

<div id="activities">
  <div class="row">
    <div class="col-md-2"><a href="" ng-click="sortField = 'name'">Name</a></div>
    <div class="col-md-1"><a href="" ng-click="sortField = 'home'">Home</a></div>
    <div class="col-md-1"><a href="" ng-click="sortField = 'specific'">Specific</a></div>
    <div class="col-md-2"><a href="" ng-click="sortField = 'mental_attention'">Mental Attention</a></div>
    <div class="col-md-1"><a href="" ng-click="sortField = 'movement'">Movement</a></div>
    <div class="col-md-1"><a href="" ng-click="sortField = 'min_time'">Min Time</a></div>
    <div class="col-md-1"><a href="" ng-click="sortField = 'max_time'">Max Time</a></div>
  </div>


  <form class="table" name="myFormNgMsg" ng-submit="update(activity)" novalidate>
    <div activity-row ng-repeat="activity in data | filter:query | orderBy:sortField track by activity.id" ng-if="activity.min_time < (time || 10000)"></div>
  </form>
</div>

