<h2>Discover More Things to do</h2>
<a href=""></a>
<p><a href="https://www.tripadvisor.com/Attractions-g49092-Activities-Durham_North_Carolina.html">Tripadvisor Durham</a></p>
<p><a href="https://www.tripadvisor.com/Attractions-g49463-Activities-Raleigh_North_Carolina.html">Tripadvisor Raleigh</a></p>

<p><a href="https://world.timeout.com/">Timeout Map of Events Including Facebook</a></p>

<p><a href="http://www.meetup.com">Meetup</a></p>

<p><a href="http://gatheringpoint.com/#">Map of Meetup, VolunteerMatch, and more</a></p>

<iframe id="map" width="800" height="500" src="http://mapservice.gatheringpoint.com/14937"></iframe>
