
<div class="box">
  <h2>Search Table</h2>
  Query: <input ng-model="query" type="text"/></br>
  Available Time: <input ng-model="time" type="text"/>
</div>

<form class="box" ng-submit="addItem()">
  add name:<input type="text" ng-model="name"></br>
  <!-- add home:<input type="text" ng-model="home"></br> -->
  <input type="radio" ng-model="home" value="home">Home</input>
  <input type="radio" ng-model="home" value="away">Away</br>

  <!-- add active:<input type="text" ng-model="active"></br> -->
  <input type="radio" ng-model="active" value="active">Active</input>
  <input type="radio" ng-model="active" value="lazy">Lazy</br>

  <!-- add specific:<input type="text" ng-model="specific"></br> -->
  <input type="radio" ng-model="specific" value="specific">Specific</input>
  <input type="radio" ng-model="specific" value="general">General</br>

  add minTime:<input type="text" ng-model="minTime"></br>
  add maxTime:<input type="text" ng-model="maxTime"></br>
  <input type="submit" value="add">
</form>


<table>
  <tr>
    <th><a href="" ng-click="sortField = 'name'">Name</a></th>
    <th><a href="" ng-click="sortField = 'home'">Home</a></th>
    <th><a href="" ng-click="sortField = 'specific'">Specific</a></th>
    <th><a href="" ng-click="sortField = 'active'">Active</a></th>
    <th><a href="" ng-click="sortField = 'minTime'">Min Time</a></th>
    <th><a href="" ng-click="sortField = 'maxTime'">Max Time</a></th>
  </tr>
  <tr ng-repeat="activity in data | filter:query | orderBy:sortField" ng-if="activity.minTime < (time || 1000)">
    <td>{{activity.name}}</td>
    <td>{{activity.home}}</td>
    <td>{{activity.specific}}</td>
    <td>{{activity.active}}</td>
    <td>{{activity.minTime}}</td>
    <td>{{activity.maxTime}}</td>
  </tr>
</table>
