<table class="table">
    <tr>
      <th><a href="" ng-click="sortField = 'name'">Name</a></th>
      <th><a href="" ng-click="sortField = 'home'">Home</a></th>
      <th><a href="" ng-click="sortField = 'specific'">Specific</a></th>
      <th><a href="" ng-click="sortField = 'mental_attention'">Mental Attention</a></th>
      <th><a href="" ng-click="sortField = 'movement'">Movement</a></th>
      <th><a href="" ng-click="sortField = 'min_time'">Min Time</a></th>
      <th><a href="" ng-click="sortField = 'max_time'">Max Time</a></th>
      <th></th>

    </tr>
    <tr ng-repeat="activity in data | filter:query | orderBy:sortField track by activity.id" ng-if="activity.min_time < (time || 10000)">
      <td>

        <div ng-hide="activity.editorEnabled">{{activity.name}}</div></br>
        <input ng-model="activity.name" ng-show="activity.editorEnabled">
      </td>
      <td>
        <div ng-hide="activity.editorEnabled">{{activity.home}}</div></br>
        <input ng-model="activity.home" ng-show="activity.editorEnabled">
      </td>
      <td>
        <div ng-hide="activity.editorEnabled">{{activity.specific}}</div></br>
        <input ng-model="activity.specific" ng-show="activity.editorEnabled">
      </td>
      <td>
        <div ng-hide="activity.editorEnabled">{{activity.mental_attention}}</div></br>
        <input ng-model="activity.mental_attention" ng-show="activity.editorEnabled">
      </td>
      <td>
        <div ng-hide="activity.editorEnabled">{{activity.movement}}</div></br>
        <input ng-model="activity.movement" ng-show="activity.editorEnabled">
      </td>
      <td>
        <div ng-hide="activity.editorEnabled">{{activity.min_time}}</div></br>
        <input ng-model="activity.min_time" ng-show="activity.editorEnabled" size="5">
      </td>
      <td>
        <div ng-hide="activity.editorEnabled">{{activity.max_time}}</div></br>
        <input ng-model="activity.max_time" ng-show="activity.editorEnabled" size="5">
      </td>
      <td><button type="button" class="btn btn-primary" ng-click="edit(activity)">Edit</button></td>
      <td><button type="button" class="btn btn-success" ng-show="activity.editorEnabled"  ng-click="update(activity)">Done</button></td>
      <td><button type="button" class="btn btn-danger" ng-click="delete(activity)">Delete</button></td>
      <td><a type="button" class="btn btn-success href="" ui-sref="home.activity({id: activity.id})">complete</a></td>

    </tr>
  </table>