<h2>Text or Video?</h2>



<div>
Search: <input ng-model="query" type="text"/>
</div>




<form ng-submit="addItem()">
  add name:<input type="text" ng-model="title"></br>
  add type:<input type="text" ng-model="type"></br>
  add time:<input type="text" ng-model="time"></br>
  add category:<input type="text" ng-model="category"></br>
  add tags:<input type="text" ng-model="tags"></br>
  add link:<input type="text" ng-model="link"></br>
  <input type="submit" value="add">
</form>


<table>
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>Time</th>
    <th>Category</th>
    <th>Tags</th>
    <th>Link</th>
  </tr>
  <tr ng-repeat="country in data | filter:query">
<!--     <td>{{country}}</td>
    <td>{{country + 1}}</td> -->
    <td>{{country.title}}</td>
    <td>{{country.type}}</td>
    <td>{{country.time}}</td>
    <td>{{country.category}}</td>
    <td>{{country.tags}}</td>
    <td><a href="{{country.link}}">{{country.link}}</td>

  </tr>
</table>



Later
Preview or embeded video